		body{
			background-color: #1b1b1b;
		}
		h1{
			color: #ccc;
			font-size: 32px;
			text-decoration: underline;
		}

		h2{
			color: #fff;
			font-size: 30px;
			text-decoration: line-through;
		}
		
		#first{
			font-size: 50px;
			font-style: line-through;
		}

		.small{
			font-size: 17px;
		}

		span{
			font-style: italic;
		}

		h2 span{
			text-decoration: line-through;
		}